 <!-- Edit Event modal -->
<div class="modal fade" id="eventModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="eventForm">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" name="Id" />

                            <div class="form-group">
                                <label for="OpenDate">Sign-up Opening Date:</label>
                                <input type="date" class="form-control" name="OpenDate" required>
                            </div>

                            <div class="form-group">
                                <label for="CloseDate">Sign-up Closed Date:</label>
                                <input type="date" class="form-control" name="CloseDate" required>
                            </div>
                            <div class="form-group">
                                <label for="EventDate">Audition Date:</label>
                                <input type="date" class="form-control" name="EventDate" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div id="instrumentGroup" class="form-group">
                                <label class="control-label" for="Instrument">Instrument Category:</label>
                                <select class="form-control" name="Instrument" required>
                                    <option value="" disabled selected hidden>Select ...</option>
                                    <option value="P">Piano</option>
                                    <option value="S">Strings</option>
                                    <option value="V">Voice</option>
                                    <option value="W">Winds</option>
                                </select>
                            </div>

                            <div name="classTypeSelect" class="form-group">
                                <label class="control-label" for="ClassTypes[]">Class Types</label>
                                <div>
                                    <span>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="ClassTypes[]" value="S">
                                            Solo
                                        </label>
                                    </span>
                                    <br />
                                    <span>
                                        <input class="form-check-input" type="checkbox" name="ClassTypes[]" value="C">
                                        <label class="form-check-label">Concerto</label>
                                    </span>
                                </div>
                            </div>

                            <div name="statusGroup" class="form-group">
                                <label class="control-label" for="Status">Event Status:</label>
                                <select class="form-control" name="Status" required>
                                    <option value="" disabled selected hidden>Select ...</option>
                                    <option value="A">Automatic (by dates)</option>
                                    <option value="B">Open (override dates)</option>
                                    <option value="C">Closed (override dates)</option>
                                    <option value="D">Completed</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="Venue">Venue:</label>
                                <input class="form-control" type="text" name="Venue" required maxlength="50" />
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="Notes">Notes:</label>
                                <textarea class="form-control" name="Notes" maxlength="255"></textarea>

                            </div>

                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <a class="btn btn-default" onclick="EventEdit.updateEvent()">Save</a>
                                <a class="btn btn-default" onclick="$('#eventModal').modal('hide')" title="Close">Cancel</a>
                                <a name="deleteButton" class="btn btn-warning" onclick="EventEdit.deleteEvent()" title="Delete"
                                   data-toggle="popover" data-trigger="hover" data-placement="left"
                                   data-content="You can delete only events that have no entries.">Delete</a>
                            </div>
                            <div class="alert alert-danger" name="submitError">
                                <strong>Server error! </strong><span></span>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

