 <!-- Edit Event modal -->
<div class="modal fade" id="modalEventEdit" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="formEdit">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" id="Id" />

                            <div class="form-group">
                                <label for="OpenDate">Sign-up Opening Date:</label>
                                <input type="date" class="form-control" id="OpenDate" required>
                            </div>

                            <div class="form-group">
                                <label for="CloseDate">Sign-up Closed Date:</label>
                                <input type="date" class="form-control" id="CloseDate" required>
                            </div>
                            <div class="form-group">
                                <label for="EventDate">Audition Date:</label>
                                <input type="date" class="form-control" id="EventDate" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div id="instrumentGroup" class="form-group">
                                <label class="control-label" for="Instrument">Instrument Category:</label>
                                <select class="form-control" id="Instrument" required>
                                    <option value="" disabled selected hidden>Select ...</option>
                                    <option value="P">Piano</option>
                                    <option value="S">Strings</option>
                                    <option value="V">Voice</option>
                                    <option value="W">Winds</option>
                                </select>
                            </div>

                            <div id="statusGroup" class="form-group">
                                <label class="control-label" for="Status">Event Status:</label>
                                <select class="form-control" id="Status" required>
                                    <option value="" disabled selected hidden>Select ...</option>
                                    <option value="A">Automatic (by dates)</option>
                                    <option value="B">Open (override dates)</option>
                                    <option value="C">Closed (override dates)</option>
                                    <option value="D">Completed</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="Venue">Venue:</label>
                                <input class="form-control" type="text" id="Venue" required maxlength="50" />
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="Notes">Notes:</label>
                                <textarea class="form-control" id="Notes" maxlength="255"></textarea>

                            </div>

                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <a class="btn btn-default" onclick="EventEdit.updateEvent()">Save</a>
                                <a class="btn btn-default" onclick="$('#modalEventEdit').modal('hide')" title="Close">Cancel</a>
                                <a id="deleteButton" class="btn btn-warning" onclick="EventEdit.deleteEvent()" title="Delete"
                                   data-toggle="popover" data-trigger="hover" data-placement="left"
                                   data-content="You can delete only events that have no entries.">Delete</a>
                            </div>
                            <div class="alert alert-danger" id="submitError">
                                <strong>Server error! </strong><span id="serverError"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

