body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.hide {
    display: none;
}

.well {
    margin: 5px;
}

.clear {
    clear: both;
}

.mousePointer {
    cursor: pointer;
}

.centered {
    text-align: center;
}

.left {
    text-align: left;
}

.nodisplay, .blank {
    display: none;
}

.formError, .formWarning {
    text-align: inherit;
}

dl {
    padding: 2px;
    margin-bottom: 2px; /* Reduced from whatever it currently is */
    margin-top: 2px; /* Reduced from whatever it currently is */
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 5px;
}
