@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>National Music Festival</h1>
    <p class="lead">This is a demo application designed and produced in 8 weeks.</p>
    <p>Author: Greg Corron</p>
    <p>Login instructions provided to prospective employers.</p>
</div>

