@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>National Music Festival</h1>
    <p class="lead">Boilerplate lorem ipsum etc.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

