@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>National Music Festival</h1>
    <p class="lead">This is a demo application designed and produced in 8 weeks.</p>
    <p>Author: Greg Corron</p>
    <p>To begin using the demo: Select Log in. For User Name enter my phone number from my resume (digits only), and use any password. Then click on the Quick Guide link.</p>
</div>

