@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>National Music Festival</h1>
    <p class="lead">This is a demo application, all functionality designed and produced in less than 2 months.</p>
    <p>Author: Greg Corron</p>
    <p>Login information provided to prospective employers.</p>
    <p><a href="http://www.bridgertechservices.com/docs/blueprint.pdf" target="_blank" class="btn btn-primary btn-lg">Initial project blueprint &raquo;</a></p>
</div>

