@model FestivalMVC.ViewModels.StudentViewModel

<td rowspan="@Model.PossibleClassTypes.Length" data-student="@Json.Encode(Model)">
    <a onclick="RegisterApp.editStudent( $(this).closest('td').data('student') )">@Model.FullName</a>
    @{ if (Model.CanRegister)
        {
            <a class="btn btn-xs btn-default pull-right" onclick="RegisterApp.registerStudent( $(this).closest('tr').data('register') )">Register</a>

        }
    }
    <br />
    <span>@($"Age {Model.Age} Ph: {Model.Student.Phone}")</span>
</td>
