@model FestivalMVC.ViewModels.StudentViewModel

    <td rowspan="2">
        <a onclick="RegisterApp.editStudent($(this).closest('tr').data('student'))">@Model.FullName</a>
        <br />
        <span>@($"Age {Model.Age} Phone {Model.Student.Phone}")</span>
    </td>
