@model FestivalMVC.ViewModels.StudentViewModel

<tr name="@Model.Student.Id" data-student="@Json.Encode(Model)">
    <td>
        <a onclick="RegisterApp.editStudent($(this).closest('tr').data('student'))">@Model.FullName</a>
        <br />
        <p>@($"Age {Model.Age}")</p>
    </td>
</tr>
