@model FestivalMVC.ViewModels.StudentViewModel

    <td rowspan="2" data-student="@Json.Encode(Model)">
        <a onclick="RegisterApp.editStudent($(this).closest('td')).data('student')">@Model.FullName</a>
        <br />
        <span>@($"Age {Model.Age} Phone {Model.Student.Phone}")</span>
    </td>
