@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Teacher/_TeacherLayout.cshtml";
}

@model FestivalMVC.ViewModels.EventsViewModel

<form id="__AjaxAntiForgeryForm">
    @Html.AntiForgeryToken()
</form>

<h2>Events for @Model.Location.LocationName</h2>

<!-- Select Event -->
<div id="contents" class="container">
    <div class="content well">
        <div class="row">
            <div class="col-sm-8">
                <h3>
                    @if (Model.Events.Count() == 0)
                    {
                        @:No events available at this time.
                    }
                    else
                    {
                        if (Model.EventsOpenForRegistrationCount > 0)
                        {
                            if (Session["SelectedEvent"] is null)
                            {
                                @:First, select an event.
                                <br />
                            }
                        }
                        else
                        {
                            @:No events are currently open for registration.
                            <br />
                        }
                    }
                </h3>
                
                <div class="row">
                    <div class="col-sm-6">
                        @foreach (var ev in Model.Events)
                        {
                            <h4>@Html.ActionLink($"{ev.EventDescription} {ev.StatusDesc}","Register",new { id = ev.Event.Id })</h4>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>

