@{
    Layout = "~/Views/Teacher/_TeacherLayout.cshtml";
}

@model FestivalMVC.ViewModels.TeacherRegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Teacher/_TeacherLayout.cshtml";
}

<form id="__AjaxAntiForgeryForm">
    @Html.AntiForgeryToken()
</form>

<div class="row">
    <div class="col-sm-6">
        @{Html.RenderPartial("_Event", Model.EventVM);}
    </div>
</div>

@{ if (!Model.EventVM.ComputeIfOpen())
    {
        <h3>Registration is closed. No registratoins or changes will be accpeted.</h3>
    }

}

<div class="row">
    <div class="col-sm-12">
        <div class="well well-sm">
            <a class="btn btn-sm btn-primary" onclick="RegisterApp.editStudent(null)">Add Student</a>
            <table>
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>History</th>
                        <th>Registration</th>
                    </tr>
                </thead>
                <tbody id="students">
                    @{
                        foreach (var student in Model.AllStudents)
                        {
                            Html.RenderPartial("_Student", student);
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Edit People modal -->
<form id="studentForm">
    <div class="modal fade" id="studentModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="well">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="first">First Name:</label>
                                <input class="form-control" type="text" placeholder="Enter First Name"
                                       name="FirstName" maxlength="50" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="last">Last Name:</label>
                                <input class="form-control" type="text" placeholder="Enter Last Name"
                                       name="LastName" minlength="2" maxlength="50" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="BirthDate">Birth Date:</label>
                                <input class="form-control" type="date" placeholder="Enter Birth Date"
                                       name="BirthDate" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="phone">Phone:</label>
                                <input class="form-control" type="tel" placeholder="Enter Phone"
                                       name="Phone" maxlength="50" required>
                            </div>
                            <input class="form-control" type="hidden" name="Id" />
                            <input class="form-control" type="hidden" name="Instrument" />
                            <input class="form-control" type="hidden" name="Teacher" />

                        </div>
                        <!-- RH half -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <a class="btn btn-default" onclick="RegisterApp.updateStudent()">Save</a>
                                <a class="btn btn-default" onclick="$('#studentModal').modal('hide')" title="Close">Cancel</a>
                                <a name="deleteButton" class="btn btn-warning" onclick="RegisterApp.removeStudent()" title="Remove"
                                   data-toggle="popover" data-trigger="hover" data-content="You can remove only students who have no registrations for this event.">Remove</a>
                            </div>
                            <div class="alert alert-danger" name="submitError">
                                <strong>Server error! </strong><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/FestivalLib.js")
    @Scripts.Render("~/Scripts/Register.js")
}

