@model FestivalMVC.ViewModels.PeopleViewModel

<!-- People -->
<div class="col-sm-4 well">
    <div class="row">
        <div class="col-sm-4">
            <h4>@Model.PeopleDescription</h4>
        </div>
        <div class="col-sm-1"></div>
        <div id="peopleAlert" class="col-sm-7 alert alert-info">
            Hover over name for details, or click name to edit.
            @{
                if (Model.PeopleDescription == "Teachers")
                {
                    @:&nbsp;Click on <span class="glyphicon glyphicon-star-empty"></span> to change the teacher's participation in this event.
                }
            }
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>
                    <div class="row">
                        <div class="col-sm-4">Person</div>
                        <div class="col-sm-4 pull-right">
                            <a id="addPerson" class="btn btn-xs btn-primary" onclick="PersonApp.addPerson();">Add New</a>
                        </div>
                    </div>
                </th>
                <th class="centered">
                    <span id="starsKey" title="Stars" class="glyphicon glyphicon-question-sign" data-container="body"
                          data-html="true" data-toggle="popover" data-trigger="hover"></span>
                </th>
            </tr>
        </thead>
        <tbody id="persons">
            @{foreach (var person in Model.People)
                {
                    Html.RenderPartial("_Person", person);
                } }
        </tbody>
    </table>
</div>


<!-- Edit People modal -->
<form id="personForm">
    <div class="modal fade" id="personModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="well">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="first">First Name:</label>
                                <input class="form-control" type="text" placeholder="Enter First Name"
                                       name="FirstName" maxlength="50" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="last">Last Name:</label>
                                <input class="form-control" type="text" placeholder="Enter Last Name"
                                       name="LastName" minlength="2" maxlength="50" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email">Email:</label>
                                <input class="form-control" type="email" placeholder="Enter Email"
                                       name="Email" maxlength="50" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="phone">Phone:</label>
                                <input class="form-control" type="tel" placeholder="Enter Phone"
                                       name="Phone" maxlength="50" required>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <!-- RH half -->

                            <div class="form-group optional-hide">
                                <label class="control-label" for="Available">Status:</label>
                                <div class="panel panel-default">
                                    <div class="checkbox">
                                        <label class="control-label" for="Available">&nbsp;</label>
                                        <span>
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="Available">
                                                Active
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <a class="btn btn-default" onclick="PersonApp.updatePerson()">Save</a>
                                <a class="btn btn-default" onclick="$('#personModal').modal('hide')" title="Close">Cancel</a>
                                <a name="deleteButton" class="btn btn-warning" onclick="PersonApp.deletePerson()" title="Delete"
                                   data-toggle="popover" data-trigger="hover" data-content="You can delete only people who have no records or assignments.">Delete</a>
                            </div>

                            <input type="hidden" name="Id" class="form-control" />
                            <input type="hidden" name="Instrument" class="form-control" value="-" />


                        </div>
                        <div class="col-sm-4">
                            <div class="alert alert-danger" name="submitError">
                                <strong>Server error! </strong><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

