@using ReportViewerForMvc;
@model IEnumerable<FestivalMVC.Models.ReportModel>
    <div>
        @{ if (ViewBag.ReportViewer is null)
            {
                <h3>Reports</h3>
                <br />
                if (Model.Count() ==0)
                {
                    <h5>No reports are available.</h5>
                }
                else
                { 
                foreach (var report in Model)
                {
                    @Html.ActionLink(report.Description, "Reports", new { Id = report.Id });
                    }
                }
            }
            else
            {
                <br />
                @Html.ReportViewer(
             ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer,
             new { scrolling = "no" })
            }
        }
</div>
